/*! Chulapa by dieghernan */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

$headings-font-family: Oswald,
sans-serif !default;
$font-family-base: 'Open Sans', serif !default;
$enable-rounded: false !default;
$btn-font-family: $headings-font-family !default;

h1,
h2,
h3,
h4,
footer,
blockquote,
button,
legend,
label,
.alert-heading,
.btn,
.card-header,
.nav-tabs,
.nav-pills,
.badge,
.breadcrumb,
.pagination,
.navbar {
    font-family: $headings-font-family !important;
    text-transform: uppercase;
}

.alert,
.jumbotron {
    font-family: $headings-font-family !important;
}
.navbar {
    font-family: $headings-font-family !important;
    font-weight: 600;
}

$primary: #edc7b7 !default;
$secondary: #687864 !default;
$success: #88bdbc !default;
$info: #31708e !default;
$warning: #fffe7a !default;
$danger: #f13c20 !default;
$dark: darken($secondary, 10%) !default;
$navbar-chulapa-toggler-border-color: transparent !default;

/* Use auto */
@import "skins/auto";
